*.csv filter=lfs diff=lfs merge=lfs -text
*.csv !text !filter !merge !diff
data/news_outlets_50K.csv filter=lfs diff=lfs merge=lfs -text
data/mediaTwitterID.txt filter=lfs diff=lfs merge=lfs -text
data/news_outlets_part2.csv filter=lfs diff=lfs merge=lfs -text
